<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6" lang="pt-br"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="pt-br"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="pt-br"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="pt-br"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="pt-br"> <!--<![endif]-->
    <head>
        <title>Coders</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="../static/vendor/css/normalize.css">
        <link type="text/css" rel="stylesheet" href="../static/vendor/css/foundation.min.css">
        <link type="text/css" rel="stylesheet" href="../static/css/index.css">

    </head>

    <body>
		<section class="coders-body">
    		<div class="large-12 intro">
    			<div class="logo-container">
    				<img src="../static/img/icon.png" />
    			</div>
    			<h1>Coders!</h1>
                <h2 id="intro">< share your code with us /> </h2>
				<button class="start">Start now</button>
    		</div>
	    </section>
    </body>
    <script type="text/javascript" src="../static/vendor/js/TypingText.js"></script>
    <script type="text/javascript" src="../static/js/index.js"></script>

</html>