<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6" lang="pt-br"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="pt-br"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="pt-br"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="pt-br"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="pt-br"> <!--<![endif]-->
    <head>
        <title>Coders!</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/fav.ico') }}" />

		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/css/normalize.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/css/foundation.min.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home/index.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/fonts/fonts.css') }}">
    </head>

    <body>
		<section class="coders-body">
    		<div class="large-12 intro">
    			<div class="logo-container">
    				<img src="{{ url_for('static', filename='img/icon.png') }}" />
    			</div>
    			<h1>Coders!</h1>
                <h2 id="intro">< share your code with us /> </h2>
				<button class="start" onclick="create_room()">Start now</button>
    		</div>
	    </section>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/TypingText.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/home/index.js') }}"></script>

    <script>
        function create_room(){
            window.location.href = '/room/create';
        }
    </script>
</html>