<!doctype html>
<!--[if lt IE 7 ]> <html class="ie6" lang="pt-br"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="pt-br"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="pt-br"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="pt-br"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="pt-br"> <!--<![endif]-->
    <head>
        <title>Coders</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="../../static/vendor/css/normalize.min.css">
        <link type="text/css" rel="stylesheet" href="../../static/vendor/css/foundation.min.css">
        <link type="text/css" rel="stylesheet" href="../../static/css/index.css">
    </head>

    <body>
		<section class="coders-body">
    		<div class="large-12 intro">
    			<div class="logo-container">
    				<img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/512/Coding-Html-icon.png" />
    			</div>
    			<h1>Coders!</h1>
    			<h2>Share your code with us :)</h2>
				<button class="start">
					Start coding now!
				</button>
    		</div>
	    </section>
    </body>
</html>