.not-found-symbol {
    width: 161px;
    height: 161px;
    background-color: #25B7D3;
    border-radius: 100%;
    margin: 0 auto;
}

.not-found-interrogation {
    font-size: 6.5rem;
    font-family: $lato;
    color: #fff;
    font-weight: bolder;
}

.button {
    font-family: $lato;
    font-size: 1.2rem;
    background: #25B7D3;
    border-radius: 7px;
    padding: 1rem 0;
    margin: 1.6rem 0.5rem 0;
    width: 13rem;
    text-transform: uppercase;
}