@import '../config';

.coders-header {
    text-align: left;
}

.coders-header .logo img {
    width: 30px;
    position: relative;
    float: left;
}

.coders-header .logo h3 {
    font-size: 20px;
    color: #fff;
    position: relative;
    float: left;
    line-height: 30px;
    margin-left: 10px;
    margin: 0 0 0 10px !important;
    padding: 0 !important;
}

.run, .running {
    text-align: right;
    height: 30px;
    display: none;
}

.run.active, .running.active {
    display: block;
}

.run-button, .running-button {
    margin: 0;
    padding: 0;
    width: 7rem;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: #25B7D3;
    font-size: 1rem;
    line-height: 1rem;
    color: #FFF;
    font-family: $lato;
    text-align: center;
}

.running-button {
    background-color: transparent;
    border: 2px solid #CCC;
    color: #CCC;
}

.running-button img {
    position: relative;
    width: 13px;
    right: 7px;
}

button:focus {
    outline: none;
}

.run-button:hover {
    cursor: pointer;
    background-color: #007095;
}

.play-button {
    position: relative;
    float: left;
    left: 23px;
    border: 8px solid transparent;
    border-width: 8px 12px;
    border-left-color: #FFF;
    background: transparent;
}

#section,
#footer {
    width: 100%;
    position: relative;
}

#section {
    padding-top: 60px;
    height: 94%;
}

#header{
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    padding: 15px;
    position: absolute;
    background-color: #000;
    border-bottom: 1px solid #EEE;
}

#footer {
    height: 6%;
    background-color: #000;
    border-top: 1px solid #FFF;
    position: relative;
}

#footer span {
    color: #999;
    font-family: $lato;
    position: relative;
    top: -1px;
}

#footer .watchers {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 15px;
}

#footer .share-footer {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 15px;
    cursor: pointer;
}

#footer .share-footer span {
    text-transform: uppercase;
}

#footer .share-footer-image {
    width: 20px;
    top: 3px;
    position: relative;
    margin-left: 10px;
    vertical-align: top;
}

#footer .watchers #Capa_1 {
    position: absolute;
    left: -30px;
    top: 0;
}

#output-container,
#editor-container {
    width: 50%;
    float: left;
    height: 100%;
    display: block;
    position: relative;
    padding-top: 10px;
}

#editor {
    width: 100%;
    height: 100%;
}

#editor-container {
    background: rgb(39, 40, 34);
}

#output-container {
    color: #FFF;
    overflow: auto;
    font-size: 15px;
    background: #000;
    padding: 15px 20px;
    font-family: monospace;
}

#divisor {
    top: 0;
    right: 0;
    width: 5px;
    z-index: 1;
    height: 100%;
    background: #444;
    margin-left: -5px;
    position: absolute;
    cursor: col-resize;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    background: rgba(0,0,0, 0.7);
}

.overlay-text {
    top: 50%;
    left: 50%;
    color: #FFF;
    display: block;
    font-size: 22px;
    position: absolute;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#share-modal {
    text-align: center;
}

.share-image {
    width: 30%;
}

.share-text {
    margin: 30px 0;
}

#shareUrl {
    width: 70%;
    font-size: 15px;
    text-align: center;
    color: #555;
    height: 30px;
}

#copy-button {
    display: block;
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1rem;
}

#copy-button:hover {
    cursor: pointer;
}

.button {
    font-family: $lato;
    background: #25B7D3;
    border: none;
    border-radius: 7px;
    padding: 1rem 0;
    width: 13rem;
    text-transform: uppercase;
}

.editor-container {
    position: relative;
}

.combo-language {
    background-color: inherit;
    z-index: 10;
    right: 20px;
    bottom: 20px;
    position: absolute;
    width: 30%;
    height: 35px;
    font-family: $lato;
    font-size: 14px;
    color: #FFF;
}

.combo-language:focus {
    outline: none;
}
