* {
    margin: 0;
    padding: 0;
}

#section,
#footer {
    width: 100%;
    position: relative;
}

#section {
    height: 90%;
}

#footer {
    height: 10%;
}

#output,
#editor {
    width: 50%;
    float: left;
    height: 100%;
    display: block;
}

#output {
    background: #000;
}

#divisor {
    top: 0;
    left: 50%;
    width: 5px;
    z-index: 999;
    height: 100%;
    background: #444;
    margin-left: -5px;
    position: absolute;
    cursor: col-resize;
}