.intro {
    text-align: center;

    img {
        width: 10rem;
    }
}

.logo-container {
    padding: 2.5rem;
    margin-bottom: 1.9rem;
    background-color: #ECECEC;
}

.developers {
    text-align: center;
}

