h1 {
	font-size: 5em;
	margin: 0;
}

h2 {
    color: #999;
    font-size: 1.4rem;
}

button {
    font-family: $lato;
    font-size: 1.2rem;
    background: #25B7D3;
    border-radius: 7px;
    padding: 1rem 0;
    margin-top: 1.6rem;
    width: 13rem;
    text-transform: uppercase;
}

button:focus {
    outline: none;
}

.intro {
	text-align: center;
}

.intro img {
	width: 10rem;
}

.logo-container {
    background-color: #ECECEC;
    padding: 2.5rem;
    margin-bottom: 1.9rem;
}

.developers {
    text-align: center;
}

