* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.coders-header {
    text-align: left;
    font-family: 'Comfortaa', cursive;
}

.coders-header .logo img {
    width: 30px;
    position: relative;
    float: left;
}

.coders-header .logo h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: #fff;
    position: relative;
    float: left;
    line-height: 30px;
    margin-left: 10px;
}

.run {
    text-align: right;
    height: 30px;
}

.run-button {
    width: 7rem;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: #25B7D3;
    font-size: 1rem;
    line-height: 1rem;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.run-button:hover {
    cursor: pointer;
    background-color: #007095;
}

.play-button {
    position: relative;
    float: left;
    left: 23px;
    border: 8px solid transparent;
    border-width: 8px 12px;
    border-left-color: #FFF;
    background: transparent;
}

#section,
#footer {
    width: 100%;
    position: relative;
}

#section {
    padding-top: 60px;
    height: 92%;
}

#header{
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    padding: 15px;
    position: absolute;
    background-color: #000;
    border-bottom: 1px solid #EEE;
}

#footer {
    height: 8%;
}

#output,
#editor {
    width: 50%;
    float: left;
    height: 100%;
    display: block;
}

#output {
    background: #000;
}

#divisor {
    top: 0;
    left: 50%;
    width: 5px;
    z-index: 1;
    height: 100%;
    background: #444;
    margin-left: -5px;
    position: absolute;
    cursor: col-resize;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    background: rgba(0,0,0, 0.7);
}

.overlay-text {
    top: 50%;
    left: 50%;
    color: #FFF;
    display: block;
    font-size: 22px;
    position: absolute;
    font-family: Arial;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}