* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.coders-header {
    text-align: left;
    font-family: 'Comfortaa', cursive;
}

.coders-header .logo img {
    width: 30px;
    position: relative;
    float: left;
}

.coders-header .logo h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: #fff;
    position: relative;
    float: left;
    line-height: 30px;
    margin-left: 10px;
}

.run {
    text-align: right;
    height: 30px;
}

.run-button {
    width: 7rem;
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: #25B7D3;
    font-size: 1rem;
    line-height: 1rem;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.run-button:hover {
    cursor: pointer;
    background-color: #007095;
}

.play-button {
    position: relative;
    float: left;
    left: 23px;
    border: 8px solid transparent;
    border-width: 8px 12px;
    border-left-color: #FFF;
    background: transparent;
}

#section,
#footer {
    width: 100%;
    position: relative;
}

#section {
    padding-top: 60px;
    height: 94%;
}

#header{
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    padding: 15px;
    position: absolute;
    background-color: #000;
    border-bottom: 1px solid #EEE;
}

#footer {
    height: 6%;
    background-color: #000;
    border-top: 1px solid #FFF;
    position: relative;
}

#footer span {
    color: #999;
    font-family: 'Lato', sans-serif;
    position: relative;
    top: -1px;
}

#footer .watchers {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 15px;
}

#footer .share-footer {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 15px;
    cursor: pointer;
}

#footer .share-footer span {
    text-transform: uppercase;
}

#footer .share-footer-image {
    width: 20px;
    top: 3px;
    position: relative;
    margin-left: 10px;
}

#footer .watchers #Capa_1 {
    position: absolute;
    left: -30px;
    top: 0;
}

#output-container,
#editor-container {
    width: 50%;
    float: left;
    height: 100%;
    display: block;
    position: relative;
}

#editor {
    width: 100%;
    height: 100%;
}

#output-container {
    color: #FFF;
    overflow: auto;
    font-size: 15px;
    background: #000;
    padding: 15px 20px;
    font-family: monospace;
}

#divisor {
    top: 0;
    left: 50%;
    width: 5px;
    z-index: 1;
    height: 100%;
    background: #444;
    margin-left: -5px;
    position: absolute;
    cursor: col-resize;
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    background: rgba(0,0,0, 0.7);
}

.overlay-text {
    top: 50%;
    left: 50%;
    color: #FFF;
    display: block;
    font-size: 22px;
    position: absolute;
    font-family: 'Comfortaa', cursive;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

/* MODAL */
.window{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    display:none;
    width:40%;
    height:auto;
    position:absolute;
    left:0;
    top:0;
    background:#FFF;
    z-index:9900;
    padding:40px 10px;
    border-radius:10px;
}

#mask {
    top:0;
    left:0;
    z-index:9000;
    display:none;
    position:absolute;
    background-color:#000;
}

.close-btn {
    top: 5%;
    right: 3%;
    display:block;
    cursor: pointer;
    position: absolute;
}

.share-image {
    width: 30%;
}

.share-text {
    margin: 30px 0;
}

#shareUrl {
    width: 70%;
    font-size: 15px;
    text-align: center;
    color: #555;
    height: 30px;
}

.editor-container {
    position: relative;
}

.combo-language {
    background-color: inherit;
    z-index: 10;
    right: 20px;
    bottom: 20px;
    position: absolute;
    width: 30%;
    height: 35px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #FFF;
}


.ace_gutter,
.ace_scroller {
    padding-top: 15px;
}
.ace_gutter-active-line {
    margin-top: 15px;
}