@import '../config';

body {
    background: #000;
}

.room {
    &__header {
        z-index: 10;
        width: 100%;
        height: 60px;
        padding: 15px;
        text-align: left;
        background-color: $black;
        border-bottom: 1px solid #EEE;

        &-logo {
            img {
                width: 30px;
                float: left;
                position: relative;
            }

             h3 {
                color: $white;
                float: left;
                font-size: 20px;
                line-height: 30px;
                margin-left: 10px;
                position: relative;
                padding: 0 !important;
                margin: 0 0 0 10px !important;
            }
        }

        &-buttons {
            .run-btn,
            .running-btn {
                height: 100%;
                display: none;
                font-size: 0.75rem !important;
                line-height: 0.75rem !important;
            }

            .run-btn.active, .running-btn.active {
                display: block;
            }
        }
    }

    &__section {
        height: 84%;
    }

    &__footer {
        height: 6%;
        width: 100%;
        position: relative;
        background-color: $black;
        border-top: 1px solid $white;

        span {
            top: -1px;
            color: #999;
            font-family: $lato;
            position: relative;
        }

        .watchers {
            top: 50%;
            right: 15px;
            position: absolute;
            transform: translate(0,-50%);
        }

        .share-footer {
            top: 50%;
            left: 15px;
            cursor: pointer;
            position: absolute;
            transform: translate(0, -50%);

            span {
                text-transform: uppercase;
            }
        }

        .share-footer-image {
            top: 3px;
            width: 20px;
            margin-left: 10px;
            position: relative;
            vertical-align: top;
        }

        .watchers #Capa_1 {
            top: 0;
            left: -30px;
            position: absolute;
        }
    }

    &__output-text {
        padding: 15px 20px;
    }
}


#output-container,
#editor-container {
    top: auto;
    width: 100%;
}

#output-container {
    color: $white;
    font-size: 15px;
    background: $black;
    font-family: monospace;
}

#editor {
    width: 100%;
    height: 100%;
}

#editor-container {
    background: rgb(39, 40, 34);
}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    background: rgba(0,0,0, 0.7);
}

.overlay-text {
    top: 50%;
    left: 50%;
    color: $white;
    display: block;
    font-size: 22px;
    position: absolute;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#share-modal {
    text-align: center;
}

.share-image {
    width: 30%;
}

.share-text {
    margin: 30px 0;
}

#shareUrl {
    width: 70%;
    color: #555;
    height: 30px;
    font-size: 15px;
    text-align: center;
}

.editor-container {
    position: relative;
}

.combo-language {
    width: 30%;
    color: $white;
    z-index: 10;
    right: 20px;
    height: 35px;
    bottom: 20px;
    font-size: 14px;
    font-family: $lato;
    position: absolute;
    background-color: inherit;

    &:focus {
        outline: none;
    }
}

.vsplitter {
    z-index: 2 !important;
}