.logo-container h1 {
    margin-left: 4%;
    display: inline-block;
    vertical-align: middle;
}

.team-member {
  padding: 2vw;
  list-style: none;
  display: inline-block;
}

.member-photo {
  max-width: 20vw;
  border-radius: 100%;
}

#team {
    margin-top: 5rem;

    p {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-family: $lato;
    }
}