{% extends "grid.html" %}

{% block title %}Coders! Developers{% endblock title %}

{% block body_logo_container %}
    <a href="{{ url_for('home.index') }}">
        <img src="{{ url_for('static', filename='img/icon.png') }}" />
    </a>
    <h1>Coders!</h1>
{% endblock body_logo_container %}

{% block body_intro_after %}
    <ul id="team">
        {% for developer in developers %}
            <li class="team-member">
                <a href="{{ developer.github }}">
                    <img class="member-photo" src="{{ url_for('static', filename=developer.image) }}" alt="{{ developer.name }}">
                    <p>{{ developer.name }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock body_intro_after %}
