{% block doctype %}<!DOCTYPE html>{% endblock doctype %}
<!--[if lt IE 7 ]> <html class="ie6" lang="pt-br"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="pt-br"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="pt-br"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="pt-br"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="pt-br"> <!--<![endif]-->
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/fav.ico') }}" />

        {% block css %}
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/css/normalize.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/css/foundation.min.css') }}">
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% endblock css %}

        {% block custom_css %}
        {% endblock custom_css %}

        {% block js_top %}
        {% endblock js_top %}
    </head>

    <body>
        {% block header %}{% endblock header %}
        {% block body %}
            <section class="coders-body">
                <div class="large-12 intro">
                    <div class="logo-container">
                        {% block body_logo_container %}
                        {% endblock body_logo_container %}
                    </div>
                    {% block body_intro_after %}
                    {% endblock body_intro_after %}
                </div>
            </section>
        {% endblock body %}
        {% block footer %}{% endblock footer %}
    </body>

    {% block js_bottom %}
    {% endblock js_bottom %}
</html>