{% extends "grid.html" %}

{% block title %}Coders!{% endblock title %}

{% block custom_css %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/home/index.css') }}">
{% endblock custom_css %}

{% block body %}
    <section class="coders-body">
        <div class="large-12 intro">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='img/icon.png') }}" />
            </div>
            <h1>Coders!</h1>
            <h2 id="intro">< share your code with us /> </h2>
            <button class="start" onclick="create_room()">Start now</button>
        </div>
    </section>
    <footer>
        <p class="developers"><a href="{{ url_for('home.developers') }}">Developers</a></p>
    </footer>
{% endblock body %}

{% block js_bottom %}
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/js/TypingText.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/home/index.js') }}"></script>
{% endblock js_bottom %}