$border-radius: 5px;

button {
    margin: 0;
    font-size: 1.2rem;
    font-family: $lato;
    background: #25B7D3;
    text-transform: uppercase;
    border-radius: $border-radius;

    &:focus {
        outline: none;
    }
}

.running-btn {
    color: #CCC;
    font-family: $lato;
    text-align: center;
    border: 2px solid #CCC;
    border-radius: $border-radius;
    background-color: transparent;

    img {
        right: 7px;
        width: 13px;
        position: relative;
    }
}

.play-btn {
    float: left;
    position: relative;
    border: 8px solid transparent;
    border-width: 8px 12px;
    background: transparent;
    border-left-color: #FFF;
}