<html>
    <head>
        <meta charset='utf-8'>
        <script src="../static/vendor/js/ace.js"></script>
        <script src="../static/vendor/js/themes/theme-monokai.js"></script>
        <script src="../static/vendor/js/modes/mode-javascript.js"></script>
        <script src="../static/vendor/js/modes/mode-python.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

        <link rel="stylesheet" type="text/css" href="../static/css/room.css">
    </head>
<body>
    <section id="section">
        <div id="editor"></div>
        <div id="divisor"></div>
        <div id="output"></div>
    </section>
    <footer id="footer">
    </footer>

    <script src="../static/js/editor.js"></script>
    <script src="../static/js/room.js"></script>
    <script src="../static/js/room_init.js"></script>
</body>
</html>