<html>
    <head>
        <meta charset='utf-8'>
        <title>Coders - {{ room_uuid }}</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/fav.ico') }}" />

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts/fonts.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/room/room.css') }}">

    </head>
<body>
    <section id="modal">
        <div class="window" id="modal-window">
            <span class="close-btn">X</span>
            <img class="share-image" src="{{ url_for('static', filename='img/icon.png') }}" />
            <div class="share-text">
                <h2>Share this room with your friends</h2>
            </div>
            <input id="shareUrl" type="text" name="url" value="">
        </div>
        <!-- mascara para cobrir o site -->

        <div id="mask"></div>
    </section>
    <section id="header">
        <div class="coders-header">
            <div class="logo">
                <a href="{{ url_for('home.index') }}">
                    <img src="{{ url_for('static', filename='img/icon.png') }}" />
                    <h3>Coders</h3>
                </a>
            </div>
             <div class="run">
                <button class="run-button"><div class="play-button"></div>Run</button>
            </div>
        </div>
    </section>

    <section id="section" data-room-ui="{{ room_uuid }}">
        <div id="editor-container">
            <div id="editor" data-content="{{ content }}"></div>
            <select class="combo-language">
              <option value="javascript">Javascript</option>
              <option value="node">Node</option>
              <option value="python">Python</option>
              <option value="ruby">Ruby</option>
            </select>
        </div>
        <div id="divisor"></div>
        <div id="output-container"></div>
    </section>

    <footer id="footer"></footer>

    <span class="overlay">
        <h3 class="overlay-text">Connecting to the room<span class="overlay-dot"></span></h3>
        <script>
            setInterval(function() {
                var $dots = $('.overlay-dot');

                if (($dots.text() + '.').length >= 4) {
                    $dots.html('');
                } else {
                    $dots.append('.');
                }
            }, 500);
        </script>
    </span>

    <script src="{{ url_for('static', filename='vendor/js/ace.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/themes/theme-monokai.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/modes/mode-javascript.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/js/modes/mode-python.js') }}"></script>

    <script src="{{ url_for('static', filename='js/room/editor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/room/room.js') }}"></script>
    <script src="{{ url_for('static', filename='js/room/websocket.js') }}"></script>
    <script src="{{ url_for('static', filename='js/room/room_init.js') }}"></script>
</body>
</html>